.tracksChoosing {
    font-family: var(--font-for);
}

.tracksChoosing .container {
    height: 100vh;
}

.tracksChoosing .container .content {
    display: flex;
    flex-direction: column;
}

.tracksChoosing .container .content .btns {
    flex-wrap: wrap;
}

.tracksChoosing .container .content h1 {
    margin: 0;
    font-size: 60px;
    color: var(--color-primary-dark);
    font-style: italic;
}

.tracksChoosing .container .content p {
    margin: 0;
    font-size: 30px;
    color: var(--color-text-secondary);
    font-style: italic;
}

.tracksChoosing .container .content .Track {
    width: 45%;
}

.tracksChoosing .container .content .Track .btn {
    background-color: transparent;
    box-shadow: none;

    color: var(--color-primary-dark) !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.tracksChoosing .container .content .Track .btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 10%;
    height: 10%;
    background-color: #315079;
    opacity: 0;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 10px;
}

.tracksChoosing .container .content .Track svg {
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 1;
}

.tracksChoosing .container .content .Track:hover .btn:hover {
    transform: scale(1);
}

.tracksChoosing .container .content .Track:hover .btn::after {
    width: 100%;
    height: 100%;
    opacity: .1;
    top: 0;
    left: 0;
    transform: translate(0);
}