.Landing {
    margin-top: 30px;
    position: relative;
    font-family: var(--font-for);
}

.Landing .container {
    display: flex;
    justify-content: space-around;
}

.Landing .Intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-top: 85px;
    font-style: italic;
    position: relative;

}

.Landing .image {
    flex: 1;
    margin-top: -8%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.Landing .image img {
    width: 110%;
}

.Landing .Intro h1 {
    margin: 0;
    font-size: 75px;
    color: var(--color-primary-dark);
}

.Landing .Intro p,
.Landing .Intro span {
    margin: 0;
    font-size: 26px;
    padding-right: 10px;
    font-family: var(--font-second);
    color: var(--color-text-secondary);
    font-weight: 400;
}

.Landing .Intro>span {
    position: absolute;
    top: -8%;
    left: 8%;
    font-size: 18px;
    padding: 0px 13px;
    padding-left: 25px;
    background-color: #eee;
    border-radius: 20px;
    color: #16a34a;
}

.Landing .Intro>span::after {
    content: " ";
    position: absolute;
    top: 20%;
    left: 4%;
    transform: translateY(50%);
    background-color: #16a34a60;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0px 0px 8px #16a34a;
}

.Landing .Intro button {
    background-color: var(--color-primary-dark);
    color: white;
    font-size: 17px;
    border: none;
    padding: 10px 20px;
    font-style: italic;
    width: 45%;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0px 0px 20px 2px var(--color-primary-dark);
    opacity: .8;
    margin-top: 30px;
    margin-left: 10px;
}

.Landing .Intro button:hover {
    transform: scale(1.1);
    opacity: 1;
    border-radius: 50px;
}

.Landing .Intro img {
    position: absolute;
    width: 70px;
    bottom: 96%;
    right: 98%;
    transform: rotate(-35deg);
}