.SignUp {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignUp .container {
    display: flex;
}


Form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}


Form .InputElement {
    position: relative;
}


Form input {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ddd;
    transition: .4s;
}

Form input:focus {
    /* border: 1px solid blue; */
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.521);
}

Form input+label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
    color: #ddd;
    cursor: text;
    transition: .4s;
}

Form input:focus+label,
Form input.Filled+label {
    top: 0;
    padding: 0 3px;
    background-color: white;
    border-radius: 10px;
    font-size: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

Form input.UnFilled {
    border-color: red;
}