body {
    overflow-x: hidden;
}

.NavBar {
    position: relative;
    font-family: var(--font-for);
}

.Header {
    display: flex;
    align-items: center;
    transition: var(--transition-medium);
    justify-content: space-between;
}

.Header .logo {
    left: -6%;
}

.Header .Links {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: var(--transition-medium);
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header .Links li a {
    color: var(--color-primary-dark);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    transition: var(--transition-medium);
    position: relative;
}

.Header .Links li a:hover {
    color: var(--color-primary-dark);
    transform: scale(1.1);
}

.Btn-Profile-section {
    width: 8%;
    display: flex;
    justify-content: center;
}

.Header button {
    padding: 10px 20px;
}

.UserLogo img {
    width: 40px;
}