.CTA {
    font-family: var(--font-for);
}

.CTA .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CTA .container .image {
    flex: 1;
    text-align: center;
}

.CTA .container .image img {
    width: 70%;
}

.CTA .container .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    font-style: italic;
}

.CTA .container .content span {
    font-size: 16px;
    padding: 0px 10px;
    background-color: #eee;
    border-radius: 20px;
    color: #16a34a;
}

.CTA .container .content h2 {
    font-size: 32px;
    width: 70%;
    color: var(--color-primary-dark);
}

.CTA .container .content p {
    font-size: 19px;
    color: var(--color-text-secondary);
    line-height: 2;
    width: 90%;
}