button {
    background-color: var(--color-primary-dark);
    border: none;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0px 0px 10px 2px var(--color-primary-dark);
    opacity: .8;
    padding: 10px 20px;
    color: white !important;
    border-radius: 10px;
    text-align: center;
    outline: none;
}


button:hover {
    color: white;
    transform: scale(1.1);
}