button {
    background-color: var(--color-primary-dark);
    color: white !important;
    font-size: 17px;
    border: none;
    font-style: italic;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0px 0px 10px 2px var(--color-primary-dark);
    border-radius: 50px;
    opacity: .8;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


button:hover {
    color: white;
    transform: scale(1.1);
}